<!DOCTYPE html>
<html>
<head>
    <title>Form Builder Suite</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--link href="../styles/editor.css" rel="stylesheet" />
    <link href="../styles/form-builder.css" rel="stylesheet" />
    <link href="../styles/material.cyan-light_blue.min.css" rel="stylesheet" />
    <script src="../scripts/configuration/jquery-1.4.2.min.js"></script-->

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../css/style.css" rel="stylesheet">

    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
      <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="../js/popper.min.js"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="../js/bootstrap.min.js"></script>
      <!-- MDB core JavaScript -->
      <script type="text/javascript" src="../js/mdb.min.js"></script>

    <script src="../scripts/configuration/angular.js"></script>
    <script src="../scripts/configuration/angular.min.js"></script>
    <script src="../scripts/controllers/editor.js"></script>
    <script src="../scripts/plugins/ngDraggable.js"></script>
    <script src="../scripts/plugins/material.min.js"></script>

    <style>
      div.formElementContainer{
        background: #eee;
        width:100%;
        padding:30px;
        min-height: 90px;
      }
      div#sidebar{
        background: #3f51b5;
        color: #fff;
        margin-top: 15px;
        padding: 15px;
      }
      div.el.sortable-chosen{
        border:1px #fff dashed;
        margin-bottom: 5px;
        cursor: pointer;
      }
      div.el.sortable-chosen:hover{
        border-color:#ccc;
        background: rgb(97, 110, 185);
      }
    </style>

</head>
<body ng-app="app">
  <header>

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark indigo">
          <div class="container">

              <!-- Navbar brand -->
              <a class="navbar-brand" href="#">Navbar</a>

              <!-- Collapse button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

              <!-- Collapsible content -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                  <!-- Links -->
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link waves-effect waves-light" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect waves-light" href="#">Pricing</a>
                      </li>

                      <!-- Dropdown -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink" style="position: absolute;">
                              <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                              <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                              <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                          </div>
                      </li>

                  </ul>
                  <!-- Links -->

                  <!-- Search form -->
                  <form class="form-inline waves-effect waves-light">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  </form>
              </div>
              <!-- Collapsible content -->

          </div>
      </nav>
      <!--/.Navbar-->

  </header>
    <div class="page" ng-controller="indexController" id="divForm">
        <div class="container">
            <div class="row">
                <!--Left Panel-->
                <div id="sidebar" class="sidebar col-md-4" style="">
                    <!--Controls-->
                    <div class="sidebar-position">
                        <div class="sidebar-settings scroll">
                            <div id="selements" class="sel" style="">
                                <div class="pad" ng-show="!IsSettings">
                                    Drag these boxes to the form at the right to add fields
                                    <div>
                                        <fieldset>
                                            <label>Basic Controls</label>

                                            <div id="draggable_ctrl" class="dragClass" ng-drag="true" ng-if="myCtrl.ConstraintForm !== false" ng-repeat="myCtrl in myControls | orderBy : 'id'  track by myCtrl.id" uniqueidentity="{{myCtrl.id}}" ng-dblclick="AddControl(myCtrl.Code,myCtrl.type)" ng-mousedown="ShowControl()" ng-mouseup="HideControl()">

                                                <div did="pre_text" id="{{myCtrl.Code}}" data-text-type="{{myCtrl.Code}}" data-default-value="{{myCtrl.Code}}" class="el sortable-chosen" ng-drag="true" ng-drag-data="myCtrl" style="height: 38px; width: 200px;">
                                                    <i class="material-icons md-18 md-dark orange600">{{myCtrl.Icon}}</i>&nbsp;<span>{{myCtrl.Name}}</span>

                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>
                                </div>

                                <div class="pad" ng-show="IsSettings">
                                    <div style="cursor: pointer;float: right;" ng-click="HideSettings()">
                                        <!--<strong>Done</strong>
                                        <i class="material-icons md-18">done</i>-->
                                    </div>
                                    Set your field properties here
                                    <div>
                                        <fieldset>
                                            <label>Field Settings</label>
                                            <div id="property_ctrl" class="dragClass">
                                                <div did="pre_text" id="pt" class="el sortable-chosen" style="height: 70px; width: 223px;">
                                                    <label>Place Holder Text</label>
                                                    <input type="text" placeholder="Enter Place Holder Text" ng-model="PlaceHolderText" />
                                                </div>
                                                <div did="pre_text" id="pt" class="el sortable-chosen" style="height: 70px; width: 223px;">
                                                    <label>Default Value</label>
                                                    <input type="text" placeholder="" ng-model="PlaceHolderText" />
                                                </div>
                                                <div did="pre_text" id="pt" class="el sortable-chosen" style="height: 70px; width: 223px;">
                                                    <label>Validation</label>
                                                    <select id="Select1">
                                                        <option value="TEXT">Free Text</option>
                                                        <option value="MTEXT">Multi-Text</option>
                                                        <option value="PHONE">Phone Number</option>
                                                        <option value="EMAIL">Email Address</option>
                                                        <option value="NUMBER">Number</option>
                                                        <option value="DATE">Date</option>
                                                    </select>
                                                </div>
                                                <div did="pre_text" id="pt" class="el sortable-chosen" style="height: 55px; width: 223px;">
                                                    <label>Field Type</label>
                                                    <input type="checkbox" name="chkRequired" value="Yes" /> Required
                                                    <input type="checkbox" name="chkRequired" value="No" /> Read Only
                                                </div>
                                                <div did="pre_text" id="pt" style="height: 55px; width: 223px;">
                                                    <span class="button button-blue editable submitButtonText" type="button" style="float: right; margin-top: 10px; margin-left: 5px;" data-trigger="s_submitButtonText" data-prop="submitButtonText" contenteditable="" ng-click="HideSettings()">Close</span>
                                                    <span class="button button-blue editable submitButtonText" type="button" style="float: right; margin-top: 10px;" data-trigger="s_submitButtonText" data-prop="submitButtonText" contenteditable="" ng-click="HideSettings()">Apply</span>
                                                </div>

                                            </div>

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Right Panel-->
                <div class="col-md-8">
                    <div class="flush col-md-12" style="margin-top:15px;">
                        <div class="viewport"></div>
                        <div class="form fcc col-md-12">
                            <h1 id="displayHeaderContainer">
                                <span id="name" class="editable" data-trigger="s_name" data-prop="name" contenteditable="">Form 1</span>
                            </h1>
                            <!--Drag Panel-->
                            <div class="formElementContainer">
                                <div id="formelements_0" data-page="page1" class="ellist" ng-drop="true" ng-drop-success="onDropComplete($data,$event,this)">
                                    <div class="formline ng-scope" id="line1" placeholder=""></div>
                                    <div class="card mb-4" id="line1" placeholder="Drag boxes here to add them to the form" ng-repeat="list in myList" ng-switch on="list.type">
                                        <div id="pre_text" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" data-text-type="phone" data-default-value="Phone" class="card-body" ng-class="{'pnlbg': hoverEdit}"  ng-drag="true" ng-drag-data="list" style="padding-top: 0px;" id="Main-{{list.id}}" ng-click="Test(this)">

                                            <div ng-switch-when="input" onmouseover="ShowIcon(this,true)" onmouseout="HideIcon(this,true)" id="{{list.id}}">
                                                <div style="border-bottom: 1px dashed #d6d7d6;height:25px" id="{{list.id}}" ng-mouseover="ReorderHover(list.id)" ></div>
<div class="form-group text-right">
                                                <button class="btn btn-sm" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                    <i class="material-icons md-18">delete</i>
                                                </button>
                                                <button class="btn btn-sm" tabindex="-1" title="settings" ng-click="ControlSettings(list.id)">
                                                    <i class="material-icons md-18">settings</i>
                                                </button>
                                              </div>
                                                <input class="form-control name " id="{{list.id}}" required type="{{list.title}}" placeholder="{{list.placeholder}}">
                                            </div>
                                            <div ng-switch-when="Selection" onmouseover="ShowIcon(this,true)" onmouseout="HideIcon(this,true)">
                                                <div style="border-bottom: 1px dashed #d6d7d6;height:25px" id="{{list.id}}" ng-mouseover="ReorderHover(list.id)"></div>
                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                    <i class="material-icons md-18">delete</i>
                                                </button>
                                                <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id)">
                                                    <i class="material-icons md-18">settings</i>
                                                </button>
                                                <select name="sometext" size="1" class="form-control">
                                                    <option>Selection 1</option>
                                                    <option>Selection 2</option>
                                                    <option>Selection 3</option>
                                                </select>
                                            </div>
                                            <div ng-switch-when="MultiSelection" onmouseover="ShowIcon(this,true)" onmouseout="HideIcon(this,true)">
                                                <div style="border-bottom: 1px dashed #d6d7d6;height:25px" id="{{list.id}}" ng-mouseover="ReorderHover(list.id)"></div>
                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                    <i class="material-icons md-18">delete</i>
                                                </button>
                                                <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id)">
                                                    <i class="material-icons md-18">settings</i>
                                                </button>
                                                <select name="sometext" size="3" multiple="multiple" class="form-control">
                                                    <option>Selection 1</option>
                                                    <option>Selection 2</option>
                                                    <option>Selection 3</option>
                                                </select>
                                            </div>
                                            <div ng-switch-when="Submit" onmouseover="ShowIcon(this,true)" onmouseout="HideIcon(this,true)">
                                                <div style="border-bottom: 1px dashed #d6d7d6;height:25px" id="{{list.id}}" ng-mouseover="ReorderHover(list.id)"></div>
                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                    <i class="material-icons md-18">delete</i>

                                                </button>
                                                <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id)">
                                                    <i class="material-icons md-18">settings</i>
                                                </button>
                                                <div class="form-group text-right">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                              </div>
                                            </div>


                                            <div class="droptxtline" ng-show="DragShow">

                                                <div id="M-{{list.id}}" ng-show="hoverEdit" ng-mouseover="AddhoverIn()" ng-mouseleave="AddhoverOut()" did="pre_text" data-text-type="phone" class="el" draggable="false" style="width: 84%; left: 32px; padding-top: 0px;background: rgba(173, 216, 230, 0.8);">
                                                    <div id="M-{{list.id}}">
                                                        <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                            <i class="material-icons md-18">delete</i>
                                                        </button>
                                                        <input class="form-control name " type="text" id="M-{{list.id}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="Sublist in list.Sub" ng-switch on="Sublist.type">
                                                <div did="pre_text" data-text-type="phone" data-default-value="Phone" class="el" ng-class="{'pnlbg': hoverEdit}" draggable="false" validation-type="PHONE" style="width: 85%; left: 28px; padding-top: 0px;" id="Sub-{{list.id}}-{{Sublist.id}}">

                                                    <div ng-switch-when="input" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                        <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">delete</i>
                                                        </button>
                                                        <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">settings</i>
                                                        </button>
                                                        <input class="form-control name" required type="{{Sublist.title}}" placeholder="{{Sublist.placeholder}}">
                                                    </div>
                                                    <div ng-switch-when="Selection" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                        <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">delete</i>
                                                        </button>
                                                        <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">settings</i>
                                                        </button>
                                                        <select name="sometext" size="1">
                                                            <option>Selection 1</option>
                                                            <option>Selection 2</option>
                                                            <option>Selection 3</option>
                                                        </select>
                                                    </div>
                                                    <div ng-switch-when="MultiSelection" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                        <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">delete</i>
                                                        </button>
                                                        <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">settings</i>
                                                        </button>
                                                        <select name="sometext" size="3" multiple="multiple">
                                                            <option>Selection 1</option>
                                                            <option>Selection 2</option>
                                                            <option>Selection 3</option>
                                                        </select>
                                                    </div>
                                                    <div ng-switch-when="Submit" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                        <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">delete</i>
                                                        </button>
                                                        <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id)">
                                                            <i class="material-icons md-18">settings</i>
                                                        </button>
                                                        <button type="submit">Submit</button>
                                                    </div>

                                                    <div class="droptxtline" ng-show="DragShow">

                                                        <div did="pre_text" ng-show="hoverEdit" ng-mouseover="AddhoverIn()" ng-mouseleave="AddhoverOut()" id="S-{{list.id}}-{{Sublist.id}}" data-text-type="phone" class="el" draggable="false" style="width: 70%; left: 76px; padding-top: 0px;background: rgba(173, 216, 230, 0.8);" id="Sub-{{list.id}}-{{Sublist.id}}-{{SecondSub.id}}">

                                                            <div ng-show="hoverEdit" ng-mouseover="AddhoverIn()" ng-mouseleave="AddhoverOut()" id="S-{{list.id}}-{{Sublist.id}}">
                                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">delete</i>
                                                                </button>
                                                                <input id="S-{{list.id}}-{{Sublist.id}}" class="form-control name" required type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-repeat="SecondSub in Sublist.Sub" ng-switch on="SecondSub.type">
                                                        <div did="pre_text" data-text-type="phone" class="el" ng-class="{'pnlbg': hoverEdit}" draggable="false" style="width: 70%; left: 76px; padding-top: 0px;" id="Sub-{{list.id}}-{{Sublist.id}}-{{SecondSub.id}}">

                                                            <div ng-switch-when="input" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">delete</i>
                                                                </button>
                                                                <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">settings</i>
                                                                </button>
                                                                <input class="form-control name" required type="{{SecondSub.title}}" placeholder="{{SecondSub.placeholder}}">
                                                            </div>
                                                            <div ng-switch-when="Selection" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">delete</i>
                                                                </button>
                                                                <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">settings</i>
                                                                </button>
                                                                <select name="sometext" size="1">
                                                                    <option>Selection 1</option>
                                                                    <option>Selection 2</option>
                                                                    <option>Selection 3</option>
                                                                </select>
                                                            </div>
                                                            <div ng-switch-when="MultiSelection" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">delete</i>
                                                                </button>
                                                                <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">settings</i>
                                                                </button>
                                                                <select name="sometext" size="3" multiple="multiple">
                                                                    <option>Selection 1</option>
                                                                    <option>Selection 2</option>
                                                                    <option>Selection 3</option>
                                                                </select>
                                                            </div>
                                                            <div ng-switch-when="Submit" onmouseover="ShowIcon(this)" onmouseout="HideIcon(this)">
                                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">delete</i>
                                                                </button>
                                                                <button class="right inline-edit delete" tabindex="-1" title="settings" ng-click="ControlSettings(list.id,Sublist.id,SecondSub.id)">
                                                                    <i class="material-icons md-18">settings</i>
                                                                </button>
                                                                <button type="submit">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="formline ng-scope" id="line2" placeholder=""></div>

                                    <div class="droptxtline" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                                        <div did="pre_text" ng-show="hoverEdit" ng-mouseover="AddhoverIn()" ng-mouseleave="AddhoverOut()" data-text-type="phone" data-default-value="Phone" class="el" draggable="false" style="padding-top: 0px;background: rgba(173, 216, 230, 0.8);">

                                            <div>
                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                    <i class="material-icons md-18">delete</i>
                                                </button>
                                                <input class="form-control name " required type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="droptxtline" ng-show="DragClick">
                                        <div did="pre_text" data-text-type="phone" data-default-value="Phone" class="el" draggable="false" style="padding-top: 0px;background: rgba(173, 216, 230, 0.8);">

                                            <div>
                                                <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                    <i class="material-icons md-18">delete</i>
                                                </button>
                                                <input class="form-control name " required type="text">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--Settings-->
                                <!--Settings-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer indigo center-on-small-only">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h5 class="title">Footer Content</h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-6">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2015 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
</body>
</html>
