<!DOCTYPE html>
<html>
<head>
    <title>Form Builder Suite</title>
    <meta charset="utf-8" />
    <link href="../styles/editor.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../styles/form-builder.css" rel="stylesheet" />
    <script src="../scripts/configuration/angular.js"></script>
    <script src="../scripts/configuration/angular.min.js"></script>
    <script src="../scripts/controllers/editor.js"></script>    
    <script src="../scripts/plugins/ngDraggable.js"></script>
    <!--<link href="../styles/material.indigo-pink.min.css" rel="stylesheet" />-->
    <script src="../scripts/plugins/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../styles/material.cyan-light_blue.min.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <header class="topheader" id="topheader">
        <div class="navibar-logo">
            <a href="#">
                <img class="logo" src="../images/noimage.png">
            </a>
        </div>
        <div class="navibar menu">
            <nav>
                <ul class="nav">
                    <li><a href="#"><span>Link 1</span></a></li>
                    <li><a href="#"><span>Link 2</span></a></li>
                    <li><a href="#"><span>Link 3</span></a></li>
                    <li><a href="#"><span>Link 4</span></a></li>
                    <li><a href="#"><span>Link 5</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="navibar account-container">
            <nav>
                <div class="account">
                    <ul class="nav">
                        <li>
                            <a href="#">
                            

                            </a>
                        </li>
                        <li style="margin-left: 0px">
                            <a href="#">
                                <span style="margin-left: 8px; padding: 4px;">
                                    Logout
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="page" ng-controller="indexController" id="divForm">
        <div class="flex-container">
            <div class="flex-row">
                <!--Left Panel-->
                <div id="sidebar" class="sidebar" style="">
                    <!--Controls-->
                    <div class="sidebar-position">
                        <div class="sidebar-settings scroll">
                            <div id="selements" class="sel" style="">
                                <div class="pad">
                                    Drag these boxes to the form at the right to add fields
                                    <div>
                                        <fieldset>
                                            <label>Basic Controls</label>

                                            <div id="draggable_ctrl" ng-drag="true" ng-if="myCtrl.ConstraintForm !== false" ng-repeat="myCtrl in myControls | orderBy : 'id'  track by myCtrl.id" uniqueidentity="{{myCtrl.id}}" ng-dblclick="AddControl(myCtrl.Code,myCtrl.type)">

                                                <div did="pre_text" id="{{myCtrl.Code}}" data-text-type="{{myCtrl.Code}}" data-default-value="{{myCtrl.Code}}" class="el sortable-chosen" ng-drag="true" ng-drag-data="myCtrl" style="height: 38px; width: 200px;">
                                                    <i class="material-icons md-18 md-dark orange600">{{myCtrl.Icon}}</i>&nbsp;<span>{{myCtrl.Name}}</span>
                                                    
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Right Panel-->
                <div class="flex-col" style="height: 93vh">
                    <div class="flush">
                        <div class="viewport"></div>
                        <div class="form fcc">
                            <h1 id="displayHeaderContainer">
                                <span id="name" class="editable" data-trigger="s_name" data-prop="name" contenteditable="">Form 1</span>
                            </h1>
                            <!--Drag Panel-->
                            <div class="formElementContainer">
                                <div id="formelements_0" data-page="page1" class="ellist" ng-drop="true" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"  ng-drop-success="onDropComplete($data,$event,this)">
                                    <div class="formline ng-scope" id="line1" placeholder=""></div>
                                    <div class="formline" id="line1" placeholder="Drag boxes here to add them to the form" ng-repeat="list in myList">
                                        <div did="pre_text" data-text-type="phone" data-default-value="Phone" class="el" draggable="false" style="padding-top: 0px;" id="Main-{{list.id}}">
                                            <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id)">
                                                <i class="material-icons md-18">delete</i>
                                            </button>
                                            <input class="form-control name" required type="{{list.title}}">
                                            <div class="droptxtline">
                                                <h5 class="droptxth5"ng-show="hoverEdit"  id="M-{{list.id}}">Drop here to add the sub controls</h5>
                                            </div>
                                            <div ng-repeat="Sublist in list.Sub" ng-switch on="Sublist.title">
                                                <div did="pre_text" data-text-type="phone" data-default-value="Phone" class="el" draggable="false" validation-type="PHONE" style="width: 100%; left: 28px; padding-top: 0px;" id="Sub-{{list.id}}-{{Sublist.id}}">
                                                    <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id)">
                                                        <i class="material-icons md-18">delete</i>
                                                    </button>
                                                    <input class="form-control name" required type="{{Sublist.title}}">
                                                    <div class="droptxtline">
                                                        <h5 class="droptxth5" ng-show="hoverEdit" id="S-{{list.id}}-{{Sublist.id}}">Drop here to add 2nd level sub controls</h5>
                                                    </div>
                                                    <div ng-repeat="SecondSub in Sublist.Sub" ng-switch on="SecondSub.title">
                                                        <div did="pre_text" data-text-type="phone" class="el" draggable="false" style="width: 91%; left: 76px; padding-top: 0px;" id="Sub-{{list.id}}-{{Sublist.id}}-{{SecondSub.id}}">
                                                            <button class="right inline-edit delete" tabindex="-1" title="Delete" ng-click="DeleteCtrl(list.id,Sublist.id,SecondSub.id)">
                                                                <i class="material-icons md-18">delete</i>
                                                            </button>
                                                            <input class="form-control name" required type="{{SecondSub.title}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="droptxtlinedwn" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                                        <h5 class="droptxth5"ng-show="hoverEdit" >Drop here to add main control</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
