<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../styles/swipping.css" rel="stylesheet" />
    <script src="../scripts/configuration/jquery-1.4.2.min.js"></script>
    <script src="../scripts/configuration/jquery-ui-1.8.custom.min.js"></script>
</head>
<body>

    <div id="center-wrapper">



        <div class="dhe-example-section" id="ex-1-1">
            <div class="dhe-example-section-header">
            </div>
            <div class="dhe-example-section-content">

                <!-- BEGIN: XHTML for example 1.1 -->

                <div id="example-1-1">

                    <ul class="sortable-list">
                        <li class="sortable-item"> item A</li>
                        <li class="sortable-item"> item B</li>
                        <li class="sortable-item"> item C</li>
                    </ul>

                </div>

                <!-- END: XHTML for example 1.1 -->

            </div>
        </div>

        <div class="dhe-example-section" id="ex-1-2">
            <div class="dhe-example-section-header">
                <br /><br />
            </div>
            <div class="dhe-example-section-content">

                <!-- BEGIN: XHTML for example 1.2 -->

                <div id="example-1-2">

                    <div class="column left first">

                        <ul class="sortable-list">
                            <li class="sortable-item"> item A</li>
                            <li class="sortable-item"> item B</li>
                        </ul>

                    </div>

                    <div class="column left">

                        <ul class="sortable-list">
                            <li class="sortable-item"> item C</li>
                            <li class="sortable-item"> item D</li>
                        </ul>

                    </div>

                    <div class="column left">

                        <ul class="sortable-list">
                            <li class="sortable-item"> item E</li>
                        </ul>

                    </div>

                    <div class="clearer">&nbsp;</div>

                </div>

                <!-- END: XHTML for example 1.2 -->

            </div>
        </div>

        <div class="dhe-example-section" id="ex-1-3">
            <div class="dhe-example-section-header">
                <br /><br />
            </div>
            <div class="dhe-example-section-content">

                <!-- BEGIN: XHTML for example 1.3 -->

                <div id="example-1-3">

                    <div class="column left first">

                        <ul class="sortable-list">
                            <li class="sortable-item"> item A</li>
                            <li class="sortable-item"> item B</li>
                        </ul>

                    </div>

                    <div class="column left">

                        <ul class="sortable-list">
                            <li class="sortable-item"> item C</li>
                            <li class="sortable-item"> item D</li>
                        </ul>

                    </div>

                    <div class="column left">

                        <ul class="sortable-list">
                            <li class="sortable-item"> item E</li>
                        </ul>

                    </div>

                    <div class="clearer">&nbsp;</div>

                </div>

                <!-- END: XHTML for example 1.3 -->

            </div>
        </div>





    </div>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#example-1-1 .sortable-list').sortable();

            $('#example-1-2 .sortable-list').sortable({
                connectWith: '#example-1-2 .sortable-list'
            });

            $('#example-1-3 .sortable-list').sortable({
                connectWith: '#example-1-3 .sortable-list',
                placeholder: 'placeholder',
            });

            $('#example-1-4 .sortable-list').sortable({
                connectWith: '#example-1-4 .sortable-list',
                containment: '#containment'
            });

        });

    </script>
</body>
</html>
