<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dart Drag and Drop: Sortable Test</title>


    <link href="../styles/newdesign.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

       

        <div>
            <div class="sortable">
                <p>Main Question 1<br><br>Sub Question 1.1</p>
            </div>
            <div class="sortable">
                <p>Main Question 2<br><br>Sub Question 2.1</p>
            </div>
            <div class="sortable">
                <p>Main Question 3<br><br>Sub Question 3.1</p>
            </div>
        </div>
    </div>

    <script type="application/dart" src="../scripts/plugins/example.dart">
    </script>
    <script src="../scripts/plugins/newdesign.js"></script>
</body>
</html>