<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../styles/newdesign_1.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="draggable">
            <div>Your First Name</div>
            <div>Your Last Name</div>
            <div>Are you married</div>
            <div class="no-drag">Kids Count</div>
            <button>Submit</button>
        </div>
    </div>
    <script type="application/dart" src="../scripts/plugins/example.dart">
    </script>
    <script src="../scripts/plugins/newdesign.js"></script>
</body>
</html>
