<!DOCTYPE html>
<html>
<head>
    <title>Table Design</title>
    <meta charset="utf-8" />
    <link href="../styles/tabledesign.css" rel="stylesheet" />
</head>
<body>

    <center>
        <table>
            <thead>
                <tr>
                    <th scope="col" colspan="16" style="text-align: left">
                        First & Last Name
                        <br />
                        <input prop="placeholderText" type="text">
                    </th>
                </tr>
                <tr>
                    <th scope="col" colspan="16" style="text-align: left">
                        Date of Birth
                        <br />
                        <input prop="placeholderText" type="text">
                    </th>
                </tr>
                <tr>
                    <th scope="col" colspan="16" style="text-align: left">
                        Email ID
                        <br />
                        <input prop="placeholderText" type="text">
                    </th>
                </tr>
                <tr>
                    <th scope="col" colspan="16" style="text-align: left">
                        Are you Married
                        <br />
                        <input id="Radio1" type="radio" title="Yes" /> Yes <input id="Radio1" type="radio" title="Yes" /> No

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Any expected year for marriage <br />
                        <input prop="placeholderText" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Spouse expection<br />
                        <input prop="placeholderText" type="text">
                    </td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th scope="col" colspan="16" style="text-align: left">
                        Do you have Children?
                        <br />
                        <input id="Radio1" type="radio" title="Yes" /> Yes <input id="Radio1" type="radio" title="Yes" /> No
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Children Name<br />
                        <input prop="placeholderText" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Is he/she Studying?<br />
                        <input id="Radio1" type="radio" title="Yes" /> Yes <input id="Radio1" type="radio" title="Yes" /> No
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>
                        School Name<br />
                        <input prop="placeholderText" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Admission Date<br />
                        <input prop="placeholderText" type="text">
                    </td>
                </tr>
            </tbody>
        </table>

    </center>
</body>
</html>
