/*
  Icon Font: MS-Track-Web
*/

@font-face {
  font-family: "MS-Track-Web";
  src: url("../fonts/MS-Track-Web_922b3015bbf5e5115ffc450b961ccc66.eot");
  src: url("../fonts/MS-Track-Web_922b3015bbf5e5115ffc450b961ccc66.eot?#iefix") format("embedded-opentype"),
       url("../fonts/MS-Track-Web_922b3015bbf5e5115ffc450b961ccc66.woff") format("woff"),
       url("../fonts/MS-Track-Web_922b3015bbf5e5115ffc450b961ccc66.ttf") format("truetype"),
       url("../fonts/MS-Track-Web_922b3015bbf5e5115ffc450b961ccc66.svg#MS-Track-Web") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "MS-Track-Web";
    src: url("./MS-Track-Web_922b3015bbf5e5115ffc450b961ccc66.svg#MS-Track-Web") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icons8-Alarm-Clock:before,
.icons8-Bar-Chart:before,
.icons8-Cancel:before,
.icons8-Clock:before,
.icons8-Geo-fence:before,
.icons8-Info:before,
.icons8-Last-24-Hours:before,
.icons8-Layers:before,
.icons8-Layers-Filled:before,
.icons8-Map:before,
.icons8-Message:before,
.icons8-New-Post:before,
.icons8-Past:before,
.icons8-Pyramids:before,
.icons8-Report-Card:before,
.icons8-Speedometer:before {
  display: inline-block;
  font-family: "MS-Track-Web";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-Alarm-Clock:before { content: "\f100"; }
.icons8-Bar-Chart:before { content: "\f101"; }
.icons8-Cancel:before { content: "\f102"; }
.icons8-Clock:before { content: "\f103"; }
.icons8-Geo-fence:before { content: "\f104"; }
.icons8-Info:before { content: "\f105"; }
.icons8-Last-24-Hours:before { content: "\f106"; }
.icons8-Layers:before { content: "\f107"; }
.icons8-Layers-Filled:before { content: "\f108"; }
.icons8-Map:before { content: "\f109"; }
.icons8-Message:before { content: "\f10a"; }
.icons8-New-Post:before { content: "\f10b"; }
.icons8-Past:before { content: "\f10c"; }
.icons8-Pyramids:before { content: "\f10d"; }
.icons8-Report-Card:before { content: "\f10e"; }
.icons8-Speedometer:before { content: "\f10f"; }
